button.load-more.is-hidden {
  display: none;
}
.search-form {
  display: flex;
  justify-content: center;
}

.form__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;

  color: white;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}

button:hover {
  background-color: #45a049;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
  box-shadow: 5px 5px 10px gray;
}

.photo-card img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: lightblue;
}

.info-item {
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}